@page
@model Portofolio.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
<link href="~/css/Style.css" rel="stylesheet" />
<h1>Contact Me</h1>
<h5>*Open for work*</h5>
<div class="contact-area">
    <a style="text-decoration: none;" href="https://www.facebook.com/neta.razvan">
        <img class="contact-btn" src="~/res/Facebook_Logo_(2019).png" />
    </a>
    <a style="text-decoration: none;" href="https://www.linkedin.com/in/neța-răzvan-4121a1192/">
        <img class="contact-btn" src="~/res/linkedin.webp" />
    </a>
    <a style="text-decoration: none;" href="mailto:neta.razvan1998@gmail.com">
        <img class="contact-btn" src="~/res/gmail.png" />
    </a>
</div>

